/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑" sans-serif;
    text-align: center;
    color: #403F37;
}

.container {
    background-color: #F05A22;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    width: 180px;
    height: 120px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 180px 120px;
    display: block;
    margin: 20px auto 20px auto;
}

#title {
    margin: 0px;
    font-size: 18pt;
}

.subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12pt;
}

#sn {
    font-size: 14pt;
}

.double-border {
    border: 6px solid #403F37;
    background-color: #FFF;
    border-radius: 20px;
    padding: 10px;
}

.detail {
    max-width: 220px;
    font-size: 9pt;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-top: 0px;
    line-height: 1.5em;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .logo {
        background-image: url(../img/logo@2x.png);
        background-size: 180px 120px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}